.container {
  width: 100%;
  max-width: 1280px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

a:active,
a:hover,
button:focus {
  outline: none;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes spin {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(32px);
    transform: translateY(32px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(32px);
    transform: translateY(32px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}
.sr-skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  text-decoration: none;
}
.sr-skip-link:active,
.sr-skip-link:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}
.sr-skip-link:focus {
  position: absolute;
  z-index: 9999;
  left: 50%;
  top: 0;
  font-size: 1rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #001e2f;
  background-color: var(--color-scale-100);
  color: #fff;
  color: var(--color-scale-0);
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 1rem 1.5rem;
  outline: 0;
  white-space: nowrap;
}

@media (max-width: 991px) {
  .nav-open .banner {
    display: none;
  }
}

.menuicon {
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  top: -2px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  margin: 0 auto;
}
.menuicon__bar {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  width: 100%;
  background-color: currentColor;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}
.menuicon__bar:first-child {
  top: 0;
}
.menuicon__bar:nth-child(2),
.menuicon__bar:nth-child(3) {
  top: 50%;
  -webkit-transform: rotate(0deg) translateX(4px);
  transform: rotate(0deg) translateX(4px);
}
.menuicon__bar:nth-child(4) {
  top: 100%;
}
.nav-open .menuicon {
  top: 3px;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.nav-open .menuicon .menuicon__bar:first-child,
.nav-open .menuicon .menuicon__bar:nth-child(4) {
  width: 0;
  top: 50%;
  left: 50%;
}
.nav-open .menuicon .menuicon__bar:nth-child(2) {
  -webkit-transform: rotate(45deg) translateX(0);
  transform: rotate(45deg) translateX(0);
}
.nav-open .menuicon .menuicon__bar:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateX(0);
  transform: rotate(-45deg) translateX(0);
}

.header {
  position: relative;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.header__brand {
  position: relative;
  z-index: 101;
}
@media (min-width: 768px) {
  .header {
    border-top: 5px solid #e6f1f8;
    border-top: 5px solid var(--color-scale-25);
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.banner + .header {
  border-top: 0;
}
.nav__content {
  display: flex;
  align-items: center;
}
.nav__menu {
  display: flex;
}
.nav__item {
  font-weight: 600;
  margin-left: 2rem;
}
.nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  line-height: 1;
  color: currentColor;
  text-decoration: none;
}

.nav__link--cta {
  color: linear-gradient(45deg, #6e3398, #6b5aed);
}
@media (min-width: 992px) {
  // .nav__link--cta {
  //   background-color: linear-gradient(45deg, #6e3398, #6b5aed);
  //   border-radius: 20em;
  //   padding: 1rem 2rem 0.875rem;
  // }
  // .nav__link--cta:focus,
  // .nav__link--cta:hover {
  //   color: #e6f1f8;
  //   background-color: linear-gradient(45deg, #bb3d50, #ed667b);
  // }
}
.nav__darkmode {
  display: none;
  margin: auto;
}
@supports (color: var(--fake-var)) {
  .nav__darkmode {
    display: block;
  }
}
@media (min-width: 992px) {
  .nav__darkmode {
    margin: 0 0 0 1.5rem;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
  }
}
.nav__togglebtn {
  border: 0;
  padding: 0;
  background-color: transparent;
  display: none;
}
@media (max-width: 991px) {
  .nav__content {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    z-index: 100;
    color: #fff;
    background-color: #001e2f;
  }
  .nav-open .nav__content,
  .nav__menu {
    display: flex;
  }
  .nav__menu {
    flex: 1 1;
    flex-direction: column;
    justify-content: center;
  }
  .nav__item {
    margin: 0;
    font-size: 1.25rem;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
  }
  .nav__item:first-child {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  .nav__item:nth-child(2) {
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
  }
  .nav__item:nth-child(3) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  .nav__item:nth-child(4) {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
  }
  .nav__item:nth-child(5) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .nav__item:nth-child(6) {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
  }
  .nav__link {
    padding: 1.5rem;
  }
  .nav__link:focus,
  .nav__link:hover {
    color: inherit;
    background-color: #6b5aed;
  }

  .nav__togglebtn {
    display: block;
    padding: 8px 10px;
    position: relative;
    z-index: 101;
  }
  .nav-open .nav__togglebtn {
    color: #fff;
  }
}
@media (max-width: 991px) {
  .nav-open .header .logo__type {
    fill: #fff;
  }
}
.langswitch {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.langswitch__link {
  display: block;
  padding: 0.5rem;
  text-transform: uppercase;
  color: inherit;
  letter-spacing: 1px;
}
.langswitch__link--active {
  font-weight: 700;
}
.langswitch__divider {
  display: block;
  width: 0;
  height: 1.25em;
  border-right: 1px solid;
  opacity: 0.35;
  position: relative;
  top: -0.1em;
}
.lightswitch {
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 2.8125rem;
  height: 2.8125rem;
  border-radius: 50%;
  color: inherit;
}
@media (min-width: 992px) {
  .lightswitch {
    color: #001e2f;
    color: var(--color-scale-100);
  }
  .lightswitch:hover {
    background-color: #e6f1f8;
    background-color: var(--color-scale-25);
  }
}
.lightswitch__icon {
  margin: auto;
  fill: currentColor;
}
.lightswitch__icon__on {
  display: block;
}
.lightswitch__icon__off {
  display: none;
}

.highlighted {
  font-weight: 700;
}
